# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.cache

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Myriade standard
docker.config.yml
run.go

# CMake
CMakeCache.txt
CMakeFiles
cmake_install.cmake
install_manifest.txt
*.cmake
Makefile

# Object files
*.a
*.so
*.dylib

xmrsrc/*
.cache/*
build/_workspace/*

.bash_history
.vscode
